.background-image {
    background-size: cover; 
    background-position: center; 
    
    height: 100%; 
    color: white; 
  }
  
  .ion-padding {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
  }
  ion-content {
    --background: url('https://giffiles.alphacoders.com/220/220069.gif') center center / cover;
  }